@import '../../../styles';

header {
  padding: 1% 3%;
  display: flex;
  align-items: center;
  gap: 3vw;

  .header__menu__links {
    width: 100%;
    display: flex;
    gap: 3vw;

    .header__menu__link {
      font-weight: 400;
      text-decoration: none;
      font-size: 1vw;
      color: $primary-color;
      transition: all 0.4s;
    }

    .header__menu__link:hover {
      text-decoration: underline;
    }
  }

  .header__menu__language {
    display: flex;
    gap: 0.5vw;
    font-size: 1vw;
    align-items: center;
  }
}
