<section class="banner">
  <div class="banner__text">
    <h1>Take a rest</h1>
    <p>
      Discover all the offers available at the best prices for the whole <br />
      country and the world
    </p>
    <a href="">Buy</a>
  </div>
</section>

<section class="offers">
  <div class="offers__title">
    <h2>Offers</h2>
  </div>
  <div class="offers__cards">
    <div class="offers__card offers__card--chicago">
      <div class="offers__card__text">
        <h3>Chicago</h3>
        <p>From $600. <span>00</span></p>
      </div>
    </div>
    <div class="offers__card offers__card--porto">
      <div class="offers__card__text">
        <h3>Porto</h3>
        <p>From $600. <span>00</span></p>
      </div>
    </div>
    <div class="offers__card offers__card--chicago2">
      <div class="offers__card__text">
        <h3>Chicago</h3>
        <p>From $600. <span>00</span></p>
      </div>
    </div>
  </div>
</section>

<section class="banner2">
  <div class="banner2__container">
    <div class="banner2__container__img"></div>
    <div class="banner2__container__text">
      <h2>Our destinations</h2>
      <span>Discover the world</span>

      <p>
        Embark on an unforgettable adventure! Discover and enjoy our fascinating
        destinations. We are waiting for you to explore the world together!
      </p>
    </div>
  </div>
</section>
