$primary-color: #181823;
$secondary-color: #9292A0;
$terciary-color: #537FE7;
$color-boton: #c20114;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F5F5F5;
  color: $primary-color;

}

* {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 420px) {

  h1,h2,h3,h4,h5,h6 {
    font-size: 3vw;
  }

  p {
    font-size: 2vw;
  }
  

  a {
    font-size: 2.5vw;
  }

}