<footer>
  <div class="footer__content">
    <div class="footer__content__logo">
      <img src="assets/img/svg/logo.svg" />
    </div>
    <div class="footer__content__columns">
      <div class="footer__content__column">
        <h3>Destinations</h3>
        <ul>
          <li><a href="">Madrid</a></li>
          <li><a href="">Barcelona</a></li>
          <li><a href="">London</a></li>
          <li><a href="">Paris</a></li>
          <li><a href="">Roma</a></li>
        </ul>
      </div>
      <div class="footer__content__column">
        <h3>Legal information</h3>
        <ul>
          <li><a href="">Privacy policy</a></li>
          <li><a href="">Cookie policy</a></li>
          <li><a href="">Data treatment</a></li>
        </ul>
      </div>
      <div class="footer__content__column">
        <div class="footer__content__column__links">
          <h3>Book your flight</h3>
          <ul>
            <li><a href="">Search flight</a></li>
            <li><a href="">Price calendar</a></li>
            <li><a href="">Destination map</a></li>
            <li><a href="">Flight times</a></li>
          </ul>
        </div>
        <div class="footer__content__column__icons">
            <h4>Follow us</h4>

            <div class="footer__content__column__iconsCtn">
            <a href="">
                <img src="assets/img/svg/twitter_icon.svg" />
            </a>
            <a href="">
                <img src="assets/img/svg/facebook_icon.svg" />
            </a>
            <a href="">
                <img src="assets/img/svg/youtube_icon.svg" />
            </a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__links">
    <a href="">website terms of use</a>
    <a href="">Site map</a>
    <a href="">Environment</a>
    <a href="">contact@airlines.com</a>
  </div>
</footer>
