@import "../../../styles";

footer {
  display: flex;
  flex-direction: column;
}

.footer__content {
  display: flex;
  flex-direction: column;
  padding: 2% 5%;
  background-color: #e7e6f6;

  .footer__content__row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .footer__content__logo {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 15vw;
      }
    }
  }
}

.footer__content__columns {
  display: flex;
  justify-content: space-between;
}

.footer__content__column {
  font-size: 1vw;

  ul {
    list-style: none;
    padding: 0 0 0 4%;
    display: flex;
    gap: 1vw;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: $primary-color;
    transition: all 0.3s;
  }

  a:hover {
    color: $secondary-color;
  }
}

.footer__links {
  padding: 1% 4%;
  display: flex;
  text-decoration: none;
  font-size: 0.9vw;

  a {
    color: $secondary-color;
    text-decoration: none;

    &:not(:last-child) {
      border-right: 1px solid $secondary-color;
      padding-right: 10px;
      margin-right: 10px;
    }
  }
}

.footer__content__row-2__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .footer__content__column__iconsCtn {
    display: flex;
    gap: 1vw;

    a {
      width: 100%;
      height: 100%;
    }

    img {
      width: 3vw;
      transition: all 0.3s;
    }

    img:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 420px) {
  .footer__content {
    .footer__content__row-1 {
      grid-template-columns: 100%;
      gap: 3vw;

      .footer__content__logo {
        justify-content: flex-start;

        img {
          width: 30vw;
        }
      }

      .footer__content__columns{
        flex-direction: column;
      }
    }

    .footer__content__row-2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 3vw;

      .footer__content__row-2__icons {
        justify-content: flex-start;
        align-items: flex-start;

        img {
          width: 5vw;
        }
      }
    }
  }
}
